<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/credit}" th:object="${calcOdds}" method="post">
    <p>Kwota <input type="number" th:field="*{totalValueOfLoan}"/></p>
    <p>Oprocentowanie <input type="number" th:field="*{creditInterest}"/></p>
    <p>Długość <input type="number" th:field="*{howLongInYears}"/></p>
    <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
</form>
</body>
</html>